@font-face {
  font-family: "perfect_dos_vga_437regular";
  src: url("/templates/modern/public/dos/perfect_dos_vga_437-webfont.woff2")
      format("woff2"),
    url("/templates/modern/public/dos/perfect_dos_vga_437-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GLASSTTYVT220";
  src: url("/templates/modern/public/glass_tty_vt220/Glass_TTY_VT220.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95fa";
  src: url("/templates/modern/public/W95FA/W95FA.otf");
}