$page-background: "/templates/modern/public/starfiel.gif";
$header-image: "/templates/modern/public/header.jpg";
$logo: "/templates/modern/public/logo.png";
$size-landscape-phone: 576px;
$size-tablet: 768px;
$size-desktop: 992px;
$size-large-desktop: 1000px;
$main-background: #000000;
$secondary-background: #ffffff;
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #e0e0e0;
$grey300: #cdcdcd;
$grey400: #a9a9a9;
$grey500: #707070;
$grey600: #424242;
$grey900: #212121;

$main-blue: #1238b3;
$main-blue-lighter: #196aff;
$main-orange: #ff9933;
$main-amber: #ffbf00;
$main-green: #00ff00;
$secondary-green: #008000;
$main-pink: #bd0dff;
$main-red: #ff300d;

$font-size-base: 16px;
$font-size-200: 8px;
$font-size-300: 11px;
$font-size-400: 12px;
$font-size-500: 14px;
$font-size-600: 16px;
$font-size-700: 20px;
$font-size-800: 24px;
$font-size-900: 28px;
$font-size-1000: 32px;
$font-size-1100: 40px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-dark-grey: $grey900;
$font-mid-grey: $grey500;
$font-light-grey: $grey50;
$font-family: Arial, sans-serif;
$font-family-classic: "Times New Roman", Times, serif;
$font-family-computer: "GLASSTTYVT220", "Times New Roman", Times, serif;
$font-family-dos: "perfect_dos_vga_437regular", $font-family;
$font-family-w95: "w95fa", $font-family;

$gutter: 8px;

@mixin landscape-phone {
  @media screen and (min-width: $size-landscape-phone) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $size-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $size-desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $size-large-desktop) {
    @content;
  }
}
